# OSX
#
.DS_Store

.idea
.vscode

metacraft/
assets/cg

# Terraform automations
/*.tf
.terraform
.terraform.lock.hcl

node_modules/
npm-debug.log
yarn-error.log

game/library/
game/temp/
game/local/
game/build/
game/profiles/
game/native
