body {
    font-family: Poppins,"Avenir Next",Nunito,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    background-color: #0d1117;
    color: #888888;
    font-weight: 400;
    overflow: hidden;
}

#root {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
}

:focus { outline: none; }

.touchable {
    cursor: pointer;
    user-select: none;
}
